appdirs==1.4.0
beautifulsoup4==4.5.3
bs4==0.0.1
click==6.7
decorator==4.0.11
elasticsearch==5.1.0
elasticsearch-dsl==5.1.0
Flask==0.12
Flask-SQLAlchemy==2.1
Flask-WTF==0.14.2
itsdangerous==0.24
Jinja2==2.11.3
MarkupSafe==0.23
packaging==16.8
pbr==1.10.0
pkg-resources==0.0.0
pyparsing==2.1.10
python-dateutil==2.6.0
requests==2.13.0
six==1.10.0
SQLAlchemy==1.1.5
sqlalchemy-migrate==0.10.0
sqlparse==0.2.2
stem==1.5.4
Tempita==0.5.2
urllib3==1.20
Werkzeug==0.11.15
WTForms==2.1
